{% extends 'base.html'%}

{% block content %}

{% load static %}
{% load crispy_forms_tags %}

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}

              {{ form|crispy }}

              <input class="btn btn-primary" type="submit" value="{{ title }}">

            </form>
          </div>
        </div>
      </div>
    </section>

{% endblock %}