{% extends 'base.html'%}

{% block content %}

{% load static %}

  <section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{{ post.image.url }}" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">{{ post.title }}</span>
                <span class="section-heading-lower">{{ post.subtitle }}</span>
              </h2>
              <p>{{ post.content|safe }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}